#legal-content-wrapper {
    margin-top: 160px;
    margin-bottom: 160px;
}

#legal-content-wrapper p {
    line-height: 1.8;
    font-size: 18px;
}

.legal-sub-headline {
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--darkgrey);
}

.legal-text {
    color: var(--lightgrey);
}

.legal-list {
    line-height: 1.8;
    font-size: 18px;
    margin: 20px 0 20px 20px;
    color: var(--lightgrey);
}